{% extends 'base.html' %}

{% block content %}

<h2>Registration</h2>
<form method="post">
    {% csrf_token %}

    {% for field in registration_form %}
        {% comment %} Printing label/aka name of the field {% endcomment %}
        <p>
            {{field.label_tag}}
            {{field}}

            {% comment %} A help that we created in forms.py to tell user to enter valid mail {% endcomment %}
            {%if field.help_text%}
                <small style="color:grey;">{{field.help_text}}</small>
            {% endif %}

            {%for error in field.errors%}
                <p style="color:red;">{{error}}</p>
            {% endfor %}
        </p>


    {% endfor %}

    <button type='submit'>Register</button>
</form>

{% endblock content %}